<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<body>
    <div ng-app="myShoppingList" ng-controller="myCtrl">
        <ul>
        <li ng-repeat="X in products">
        {{X}}
        <span ng-click="removeItem($index)">×</span>
        </li>
        </ul>
        <input ng-model="addMe">
        <button ng-click="addItem()">Add</button>
       </div>
       <p>Click the little X to remove an item from the shopping list.</p>
    </body>
<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
 $scope.products = ["Milk", "Bread", "Cheese"];
 $scope.addItem = function () {
 $scope.products.push($scope.addMe);
 $scope.addMe='';
 } 
 $scope.removeItem = function (X) {
 $scope.products.splice(X, 1);
 }
});
</script>


</html>